<div class="app-container">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      src="https://cdn.modyo.cloud/uploads/9e0fec6a-61c6-4e89-8486-0e95cbc46c43/original/alianza-logo.webp"
      alt="Logo personas"
      height="30"
      width="85"
    />
    <span>&nbsp;&nbsp;</span>
    <span>{{ title }}</span>
    <span class="toolbar-spacer"></span>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav mode="over" class="app-sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/clientes" (click)="sidenav.close()">
          <mat-icon>people</mat-icon>
          <span class="nav-caption">Clients</span>
        </a>
        <a mat-list-item (click)="sidenav.close()">
          <mat-icon>history</mat-icon>
          <mat-icon>person_add</mat-icon>
          <span class="nav-caption">Client Look History </span>
        </a>
        <a mat-list-item (click)="sidenav.close()">
          <mat-icon>fiber_pin</mat-icon>
          <span class="nav-caption">Emergency PIN Configuration </span>
        </a>
        <a mat-list-item (click)="sidenav.close()">
          <mat-icon>history</mat-icon>
          <mat-icon>fiber_pin</mat-icon>
          <span class="nav-caption">Emergency PIN History </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
